doctype html
html(lang='en',ng-app="app")
head
	meta(content='text/html;charset=utf-8',http-equiv='Content-Type')
	title 个人博客
	link(rel='stylesheet',href='/css/normalize.min.css')
	link(rel='stylesheet',href='/font/iconfont.css')
	link(rel='stylesheet',href='/css/common.css')
	link(rel='stylesheet',href='/css/index.css')
	body
	div.wraper.clearfix
		header
			nav.logo
				span
					a(ui-sref="home") 首页
			img.banner(src='img/logo.png')