doctype html
html(lang='en',ng-app="app")
head
	meta(content='text/html;charset=utf-8',http-equiv='Content-Type')
	title 个人博客
	link(rel='stylesheet',href='/css/normalize.min.css')
	link(rel='stylesheet',href='/font/iconfont.css')
	link(rel='stylesheet',href='/css/common.css')
	link(rel='stylesheet',href='/css/index.css')
body(ng-controller="IndexController")

	div.wraper.clearfix
		header
			img.banner(src='img/logo.png')
			nav.navbar
				ul.navbar-menu.clearfix
					li(ng-repeat='item in navMenu')
						a(ui-sref="{{item.src}}") {{item.name}} 					
			nav.nav-top
				ul
					li
						a.login-btn(href="javascript:void(0)",ng-click="triggerModal(1)") 登录
					li 
						a.register-btn(href='javascript:void(0)',ng-click="triggerModal(2)") 注册
		div.main(ui-view)		 		
	div.tooltip
		a(ui-sref="publish")
			i.icon.iconfont &#xe606		
	footer
		p Copyright © 2015 - 166yuan - Powered by Jekyll. Github
	div.modal(ng-if='showModal')
		div.login-box#login(ng-if='showLogin')
			div.nav-info
				span 登录系统
				span.close(ng-click="triggerModal(-1)")
					i.iconfont &#xe605 
			form
				div.form-control
					label 账号
					input(type='text',ng-model="loginData.account",placeholder='输入账号',required)
				div.form-control
					label 密码
					input(type='password',ng-model="loginData.passwd",placeholder='输入密码',required)
				div.form-control
					button.btn.btn-blue(ng-click="login()") 登录
					button.btn.btn-default(ng-click="reset()") 重置
				a(href='#',ng-click="triggerModal(1)").go-register 还没账号?去注册！
		div.register-box#register(ng-if='showRegister')
			div.nav-info
				span 注册账号
				span.close(ng-click="triggerModal(-1)")
					li.iconfont &#xe605
			form
				div.form-control
					label 账号
					input(type='text',name='account',ng-model='registerData.account',placeholder='输入账号',required)
				div.form-control
					label 密码
					input(type='text',name='password',ng-model='registerData.passwd',placeholder='输入密码',required)
				div.form-control
					label 确认密码
					input(type='text',placeholder='重复密码',ng-model="registerData.repasswd",required)
				div.form-control
					button.btn.btn-blue(ng-click="register()") 注册
					button.btn.btn-default(ng-click="reset()") 重置								 	
	script(src='js/libs/angular.min.js')
	script(src="js/libs/angular-ui-router.js")
	script(src="ueditor/ueditor.config.js")
	script(src="ueditor/ueditor.all.js")
	script(src="js/apps/main.js")
