/* rem 定位*/
@media screen and (min-width:1200px) {
  html {font-size: 50px;}
  
}

@media screen and (max-width:1500px) {
  html {font-size: 48px;}
}

@media screen and (max-width:1100px) {
  html {font-size: 46px;}
}

@media screen and (max-width:1000px) {
  html {font-size: 40px;}
}

@media screen and (max-width:900px) {
  html {font-size: 36px;}
}

@media screen and (max-width:800px) {
  html {font-size: 29px;}
}

@media screen and (max-width:700px) {
  html {font-size: 28px;}
}

@media screen and (max-width:640px) {
  html {font-size: 27px;}
}

@media screen and (max-width:617px) {
  html {font-size: 26px;}
}

@media screen and (max-width:594px) {
  html {font-size: 25px;}
}

@media screen and (max-width:571px) {
  html {font-size: 24px;}
}

@media screen and (max-width:548px) {
  html {font-size: 23px;}
}

@media screen and (max-width:525px) {
  html {font-size: 22px;}
}

@media screen and (max-width:502px) {
  html {font-size: 20px;}
}

@media screen and (max-width:480px) {
  html {font-size: 18px;}
}

@media screen and (max-width:457px) {
  html {font-size: 16px;}
}

@media screen and (max-width:434px) {
  html {font-size: 15px;}
}

@media screen and (max-width:411px) {
  html {font-size: 15px;}
}

/*common css*/
html body{
	font-family: "Microsoft YaHei";
}

a,a:hover,a:link{
	text-decoration: inherit;
}

.clearfix:after{
  content:".";
  clear:both;
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
 	*zoom:1;
}

ul,li{
  list-style: none;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(221, 221, 221, 0.52);
  overflow: auto;
  overflow-y:scroll;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; 
}

form{
  font-size: .3rem;
}

.form-control{
  margin-top: .4rem;
  text-align: left;
}
.form-control>input[type=text],.form-control>input[type=password]{
   margin-left: .2rem;
   display: inline-block;
   height: .5rem;
   border-radius: 3px;
   border:1px solid #ddd;
   text-indent: .2rem; 
}

.btn{
  text-align: center;
  padding: .1rem .2rem;
  margin-left: .4rem;
  border-radius: 2px; 
  border:none; 
}

.btn-default{
  background-color: #fff;
  border:1px solid #ddd; 
}
.btn-blue{
  color: #fff;
  background-color: #2079E2; 
}
.btn-info{
  background-color: #5bc0de;
  color: #fff;
}
.btn-danger{
 background-color: #d43f3a;
  color: #fff;
}
.btn-warn{
 background-color: #f0ad4e;
  color: #fff;
}
.btn-success{
   background-color: #5cb85c;
  color: #fff;
}
.tooltip{
   position: fixed;
   bottom: 1.2rem;
   height: 1rem;
   width: 1rem;
}
.tooltip>a{
  display: block;
  height: inherit;
  width: inherit;
  text-align: center;
  line-height: 1rem;
}
.long-input{
  width: 50%;
}
article{
  text-indent: 50px; 
}
.component{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  top: 0;
  left:0;
  position: absolute;
  padding-top: 3rem;
  font-size: .5rem;
  z-index: 999;
}
.alert-box{
  height: 3rem;
  width: 8rem;
  border:6px solid #00D3FF;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  padding-top: 1rem;
}
