<div ng-controller="detailController" class="articleWrap">
	<h3>{{article.title}}<span class="datatime">（{{article.createTime|date:'yyyy-MM-dd hh:MM'}}）</span>
	</h3>
	<span class="author pull-right">作者:{{article.nickname}}</span>
	<div class="tagsList">
		<span>标签：</span> <a href="" ng-repeat="item in article.tags">{{item}}</a>
	</div>
	<article data-ng-bind-html="article.content">
		
	</article>
	<a href="javascript:void(0)" ng-if="!isOwner&&isLogin" ng-click="addCollection(article._id)">收藏</a>
	<div>
		<a href="javascript:void(0)" ng-show="isLoad" ng-click="attention()">看不到评论框请点我</a>
		<div id="SOHUCS" ></div>
	</div>
	<!--高速版-->

</div>