<div ng-controller="categoryController" class="category-area">
<h4>分类目录</h4>
	<ul class="cateList">
		<li ng-repeat="category in categorys"><a ng-click="findById(category.id,category.ctitle)">{{category.ctitle}}</a></li>
	</ul>
	<a href="javascript:void(0)" ng-click="triggerEditor()">编辑分类</a>
	<div ng-show="showInput">
		<label for="cate">输入新的分类名称</label> <input type="text" ng-model="newCollection" name="cate" placeholder="新的分类名" /><button ng-click="addNew()">保存</button>
	</div>
	<div>
		<p ng-repeat="item in blogs"> <span></span> [{{ctitle}}]<a ui-sref="adetail({articleId:item._id})">{{item.title}}</a> </p>
	</div>
	<!-- <button ng-click="addTest()">add Test</button> -->
</div>		