<div class="userCenter" ng-controller="centerController">
	<form>
		<div class="form-control">
			<label for="nickname">昵称：</label> <input type="text" ng-model="userInfo.nickname" name="nickname">
		</div>
		<div class="form-control">
			<label for="nickname">性别：</label>  <input type="radio" name="man" id="man" value="true" ng-checked="userInfo.sex"><label for="man">男</label>  <input type="radio" name="women" value="false" id="women" ng-checked="!userInfo.sex"><label for="women">女</label>
		</div>
		<div class="form-control">
			<label for="nickname">头像：</label>  
			<div class="imgWraper">
				<img src="{{userInfo.avatorUrl}}" alt="">
				<img src="" id="preview" class="preview" style="display:none">
				<div class="img-hover" ng-click="triggerUpload()"></div>
			</div>
			<button ng-click="uploadPic(picFile)">保存</button> <button>取消</button>
		</div>
		<div class="form-control">
			<label for="nickname">创建时间：</label>  
			{{userInfo.createTime | date:'yyyy-MM-dd hh:MM'}}
		</div>
		<div class="form-control">
			<label for="email">邮箱：</label>  
			<input type="text" name="email" ng-model="userInfo.email">
		</div>
		<div class="form-control">
			<label for="email">qq：</label>  
			<input type="text" name="qq" ng-model="userInfo.qq">
		</div>
		<button ng-click="saveInfo()">保存</button> <input type="reset" value="重置">
	</form>
	<form name="form" style="display: none;">
	  <<input type="file" ngf-select="" id="upload" ng-model="picFile" name="file" accept="image/*" required="">
	  <button type="submit" ng-click="uploadPic(picFile)" id="submit">submit</button>
	</form>

</div>