<div class="alert-box" ng-show="alertBox">
    <div class="box">
        {{info}}
    </div>
    <button class="btn btn-success" ng-click="confirm()">确定</button>
</div>
<div class="alert-box" ng-show="inputBox">
    <div class="box">
        <label for="infoInput">请输入{{info}}</label>
        <input type="text" name="infoInput" ng-bind="inputInfo"/>
    </div>
    <button class="btn btn-success" ng-click="confirm()">确定</button>
    <button class="btn btn-success" ng-click="cancel()">取消</button>
</div>