<div ng-controller="MainController">
	<aside ng-show="isLogin">
		<div class="avator-wraper">
			<img src="{{avatorUrl}}" alt="" class="avator">
		</div>
		<p class="username">{{username}}</p> 	
	</aside>
	<div class="content" ng-show="isLogin">
		<div class="blog" ng-repeat="item in articles">
			<span class="datatime">{{item.createTime|date:'yyyy-MM-dd hh:MM'}}</span>
			<a ui-sref="adetail({articleId:item._id})" class="btitle">{{item.title}}</a>
		</div>
	</div>
	<div class="article-all" ng-show="!isLogin">
		<h5>所有博文</h5>
		<div class="blog" ng-repeat="item in allArticles">
			<span class="datatime">{{item.createTime|date:'yyyy-MM-dd hh:MM'}}</span>
			<span class="datatime">{{item.date}}</span>
			<a ui-sref="adetail({articleId:item._id})" class="btitle">{{item.title}}</a>
		</div>
	</div>
</div>