<div ng-controller="publishController" class="publish">
	<div class="form-control"><label for="title">请输入标题</label><input type="text" ng-model="publishData.title" placeholder="50字以内" name="title" class="long-input" /></div>
	<div class="editWraper">
		<textarea id="ueditor">
		输入您的内容
		</textarea>
	</div>
	<div class="form-control">
		<label for="category">选择分类</label> 
		<select ng-model="publishData.category" required>
			<option ng-repeat="ca in category" value="{{ca.id}}">{{ca.ctitle}}</option>
		</select>
		<button ng-click="newCate()" class="btn btn-blue">新建分类</button>
	</div>
	<div class="form-control">
		<label for="">输入标签</label>
		<p><span class="tags" ng-repeat="tag in publishData.tags">{{tag}}<i class="icon iconfont" ng-click="removeTags($index)">&#xe605</i></span></p>
		<div>
			<input type="text" ng-model="publishData.temp" placeholder="最多5个标签"> <button ng-click="addTags()" class="btn btn-info">添加</button>
		</div>
	</div>
	<div style="padding-left:.6rem;padding-top:.4rem">
		<button class="btn btn-success" ng-click="publish()">发布</button>
		<button class="btn btn-warn" ng-click="reset()">全部重置</button>
	</div>
</div>